
.blur-a {
  overflow: hidden;
}

.blur-a #overlay {
  display: block;
}

.nav.nav-oculta {
  transform: translateY(calc(-1 * var(--nav-heigth)));
}

.nav svg {
  fill: currentColor;
}

.nav {
  display: flex;
  width: 100%;
  position: relative;
  height: var(--nav-heigth);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  box-shadow: 0 0 10px rgb(12, 11, 11);
  background-color: var(--navbar);
  z-index: 10;
  border-bottom: 1px solid var(--border-header);
}


.nav div {
  border-left: 1px solid var(--border-header);
  padding: 1rem .5rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--letra-montserrat);
}
.nav div:nth-child(1) {
  border-left: none;
}

.nav-seccion-logo a, .nav-seccion-logo img {
  max-width: 50px;
  border-radius: 2rem;
  margin-left: 1rem;
}

.nav .nav-seccion-logo {
  justify-content: flex-start;
}


/* ESPACIO PARA LINKS ACTIVOS */
.nav .nav-seccion-links a {
  position: relative;
}

.nav .nav-seccion-links a.active,
.nav .nav-seccion-links a:hover,
.nav .nav-seccion-redes a:hover {
  color: var(--violeta);
}

.nav-seccion-logo,
.nav-seccion-links {
  flex-basis: calc(100% / 3);
}

.nav-seccion-links a {
  text-decoration: none;
  color: var(--blanco);
  transition: all .7s;
  position: relative;
  
  font-size: 1rem;
}

.nav-seccion-redes,
.nav-seccion-idioma {
  flex-grow: 1;
}

.nav-seccion-redes a {
  width: 30px;
  display: block;
  color: white;
}

.nav-seccion-idioma {
  font-size: 1rem;
  color: white;
}

.nav .nav-movil {
  display: none;
}


@media screen and (max-width: 768px) {
  /* Escondo las secciones */
  .nav .nav-seccion-links,
  .nav .nav-seccion-idioma {
    display: none;
  }


  /* Muestro las secciones que quiero */
  .nav .nav-movil .nav-seccion-links,
  .nav .nav-movil .nav-seccion-idioma {
    display: block;
  }
  .nav .nav-movil .nav-seccion-links a,
  .nav .nav-movil .nav-seccion-idioma a {
    color: white;
  }
  .nav .nav-movil .nav-seccion-idioma a {
    margin: 0 .2rem;
  }
  .nav .nav-movil .nav-seccion-links {
    display: flex;
    flex-direction: column;
  }
  .nav .nav-movil .nav-seccion-links a {
    font-size: 10vw;
  }
  .nav .nav-movil .nav-seccion-idioma {
    position: absolute;
    top: 23px;
    left: 25px;
    border-left: none;
  }

  /* Expando el menu */
  .nav .nav-movil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateY(-100%);
    height: calc(100vh);
    background-color: var(--paleta4);
    transition: transform .3s ease-in-out;
    z-index: 1;
    background-color: var(--navbar);

  }
  .nav-movil.expandido {
    transform: translateY(0%);
    
  }

  /* Dejo las redes y le doy otro borde */
  .nav-seccion-redes {
    flex-basis: calc(100% / 3);
    flex-grow: initial;
    border-right: 1px solid var(--border-header);
  }
  .nav .nav-seccion-redes {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .nav .nav-movil {
    
  }
  
  .nav .nav-movil .nav-seccion-redes {
    display: flex;
    border: none;
    justify-content: space-around;
  }
}



/* CONTENEDOR DE LINEAS */
.hamburger {
  /* // removes default border on button element */
  border: 0;
  height: 30px;
  width: 30px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;

  /* positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}


/* LINEAS */
.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--violeta);
    margin-top: 6px;
    border-radius: 2rem;
    transition: all 300ms ease;
    /* Esto de abajo para fijar las lineas */
    transform-origin: 0px 100%;
}

.hamburger:hover span {
    background-color: rgb(148, 77, 155);
}

/* LINEAS PARTICULARES */
.active.line1_hamburger {
    transform: rotate(45deg) translate(-2px, -3px);
}

.active.line2_hamburger {
    opacity: 0;
    margin-left: -15px;
}

.active.line3_hamburger {
    transform: rotate(-45deg) translate(2px, 1px);
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  
}

