
#servicios {

}

.contenedor_servicios_p {
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--nav-heigth));
    align-items: center;
    gap: 3rem;
}

.servicio_principal {
    background-color: var(--navbar);
    padding: 1rem 3rem;
    border-radius: .5rem;
    border: 1px solid var(--violeta);

    width: 30vw;
    max-width: 350px;

    -webkit-box-shadow: 0px 0px 88px 31px rgba(12,11,14,1);
    -moz-box-shadow: 0px 0px 88px 31px rgba(12,11,14,1);
    box-shadow: 0px 0px 88px 31px rgba(12,11,14,1);
}
.servicio_principal.servicio_grande {
    padding: 1.5rem 3.5rem;
}

.servicio_principal p {
    font-size: 1rem;
}
.servicio_principal h2 {
    font-size: 2rem;
    text-align: center;
}

.servicio_logo {
    max-width: 60px;
    margin: .5rem auto;
    color: #fff;
}

.servicio_lista {
    margin-top: .5rem;
}

.servicio_lista svg {
    max-width: 20px;
    color: var(--violeta);
}

.servicio_lista li {
    display: flex;
    color: white;
    gap: 10px;
    font-size: 1rem;
    align-items: center;
}