
#socialbar {
    position: fixed;
    width: 40px;
    left: 0;
    bottom: 0;
    right: auto;
}

.social-elements {
    display: flex;
    flex-direction: column;
}

.social-elements::after {
    content: "";
    display: block;
    width: 3px;
    height: 100px;
    background-color: rgb(48, 40, 54);
    margin: 0 auto;
}

#footer .social-elements {
    display: none;
}

@media only screen and (max-width: 768px) {
    .social-elements::after {
        display: none;
    }

    #socialbar {
        display: none;
    }

    #footer .social-elements {
        display: flex;
        flex-direction: row;
        max-width: 100px;
        margin: 0 auto;
    }
}