
#socialbar {
    position: fixed;
    width: 40px;
    left: 5px;
    bottom: 0;
    right: auto;
}

.social-elements {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 768px) {
    .social-elements::after {
        display: none;
    }

    #socialbar {
        display: none;
    }

    
}