@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
  font-display: swap;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --gris-oscuro: #24272e;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  background-color: var(--gris-claro);
  overflow-x: hidden;
  line-height: 1.3;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, p {
  margin: 0;
}